*{
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    background: url('../src/img/pisay1.jpg') no-repeat center center; 
    background-size: cover;
    min-height: 100vh;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

/* HEADER */

.logo-img {
    width: 180px;
    height: auto;
}

header {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px;
    font-size: 24px;
}

header nav a {
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    color: #700000; 
    transition: color 0.4s ease, text-decoration 0.4s ease; 
}

header nav a:hover {
    color: #d32f2f; 
    text-decoration: underline;
}

.logo {
    margin-right: auto;
    margin-left: 180px;
}

header nav {
    margin-left: auto;
    margin-right: 180px;
}

/*search bar*/
.search-bar {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    padding-top: 30px;
    margin-left: 40px; 
    margin-bottom: 10px;
}

.search-bar input[type="text"] {
    padding: 10px 10px 10px 30px;
    height: 60px;
    width: 25%;
    border-radius: 60px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #700000;
    font-family: 'Lato', sans-serif;
}

.search-bar input[type="text"]::placeholder {
    color: #700000;
    opacity: 1; 
}

.search-bar input[type="text"]:focus {
    border: 1px solid #700000; 
    outline: none; 
}


/*whitebox*/
.container{
	margin:auto;
	border: none;
	width: 90%;
	height: auto;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	margin-bottom: 40px;
	padding-bottom: 18px
}

.center{
	padding-top:18px;
	padding-left: 38px;
	padding-right: 38px;
	padding-bottom: 18px;
}

/*title and buttons*/

.top-part{
	padding-top: 5px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 5px;
	column-fill: 100;
	display: flex;
	justify-content: space-evenly; 
}

#floor-text{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px;
	margin-right: auto;
}

.image-button{
    background-color: #700000;
    color: white;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 6px;
    font-size: 24px;
    font-weight: bold;
}

.image-button:hover {
    background-color: #d32f2f;
}

.floors {
	padding-top:18px;
	padding-left: 38px;
	padding-right: 38px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.floor-image {
    border: 3px solid #700000; 
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;
    margin-bottom: 30px;
}

.floors img {
    max-width: 100%;
    height: auto;
}

/* FOOTER */

footer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

footer .logo {
    margin-right: 50px;
}

footer p {
    text-align: right;
    margin: 0;
}

.contact-title {
    color: #700000;
    font-weight: bold;
}

.contact-info {
    color: black;
    margin-top: 8px;
    display: block;
}