body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../src/img/PHYSCI.png");
  background-size: cover;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.search-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 40px;
  width: 400px;
}

.search-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-button {
  padding: 15px;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  margin-right: 5px;
}

.search-button span {
  text-decoration: dashed;
}

.search-button button {
  background-color: #902124;
}

.search-button.active {
  background-color: #4d0011;
}

.search-bar {
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #902124;
  border: 1px solid #902124;
  border-radius: 20px;
  font-size: 18px;
  box-sizing: border-box;
}

.submit-button-container {
  display: flex;
  justify-content: flex-end; 
}

.submit-button {
  width: 33%;
  padding: 15px;
  background-color: #4d0011;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  
}
